@using Open.Core
@using Open.Sentry.Extensions
@model Open.Facade.Bank.InsuranceView

@{
     ViewBag.Title = "New insurance";
     Layout = "_EditPartial";
     ViewBag.Button = "Make";
 }
<body>
@Html.HiddenFor(x => x.ID)
@Html.EditingControlsFor(x => x.ValidFrom)
@Html.EditingControlsFor(x => x.ValidTo)
@Html.ViewingControlsCustomLabelFor(x => x.AccountId, "Account number")
@Html.EditingControlsForDecimal(x => x.PaymentInStringFormat)
@Html.DropDownListFor(x => x.Type, Html.GetEnumSelectList<InsuranceType>(), new { @class = "form-control"  })
    
@section Actions{    
    <a class="btn btn-primary btn-sm"
       href="@Url.Action("Index", "Insurance")">Back to your insurances &raquo;
    </a>}
</body>