@using Open.Sentry.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Bank.InsuranceView>

@{
    ViewBag.Title = "Your insurances";
    Layout = "_IndexPartial";
    //ViewBag.Button = "Create";
}

@section Create {
    <a class="btn btn-primary btn-sm"
       href="@Url.Action("Create", "Insurance")">
        New insurance &raquo;
    </a>
}

<body>
<table class="table">
    @{ var insurance = Model.FirstOrDefault();}
    <thead>
    <tr>
        @Html.SortColumnHeaderFor(model => insurance.ValidFrom, ViewData["SortValidFrom"])
        @Html.SortColumnHeaderFor(model => insurance.ValidTo, ViewData["SortValidTo"])
        @Html.SortColumnHeaderFor(model => insurance.AccountId, ViewData["SortAccountId"])
        @Html.SortColumnHeaderFor(model => insurance.Type, ViewData["SortType"])
        @Html.SortColumnHeaderFor(model => insurance.Payment, ViewData["SortPayment"])
        @Html.SortColumnHeaderFor(model => insurance.Status, ViewData["SortStatus"])
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
            <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
            <td>@Html.DisplayFor(modelItem => item.AccountId)</td>
            <td>@Html.DisplayFor(modelItem => item.Type)</td>
            <td>@Html.DisplayFor(modelItem => item.Payment)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
        </tr>
    }
    </tbody>
</table>
</body>
