@using Open.Data.Bank
@using Open.Sentry.Controllers
@using Open.Sentry.Extensions
@inject SignInManager<ApplicationUser> SignInManager
@model Open.Core.IPaginatedList<Open.Facade.Bank.AccountView>

@{
    ViewData["Title"] = "SonicBank";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <img style="width: 100%; display: block;" src="/images/bankpikalt.jpg" alt="Bank image">
</div>

<div class="row">
    @if (!SignInManager.IsSignedIn(User) || Model == null) {
        <div class="col-md-12">
            <h2>Welcome to SonicBank!</h2>
            <h3>Please log in to use our services!</h3>
        </div>
    } else {
        <div class="col-md-12">
            <h2>Welcome, @User.GetFirstName()!</h2>
            @if (Model.Count == 0) {
                <a class="btn btn-outline-danger" style="font-weight: bold"
                   href="@Url.Action("Create", "BankAccount")">
                    Create your first account &raquo;
                </a>
            } else {
                <div>
                    <a class="btn btn-outline-danger btn-sm" style="font-weight: bold"
                       href="@Url.Action("Create", "BankAccount")">
                        Create new account &raquo;
                    </a>
                    <a class="btn btn-primary btn-sm"
                       href="@Url.Action("Index", "Insurance")">
                        Your insurances &raquo;
                    </a>
                </div>
                <table style="width: 100%">
                    <thead>
                    <tr>
                        <th>Account Number</th>
                        <th>Type</th>
                        <th>Balance</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody id="accTable">
                    @foreach (var item in Model) {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ID)</td>
                            <td>@Html.DisplayFor(modelItem => item.Type)</td>
                            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                            <td>
                                <a class="btn btn-primary btn-sm btn-block"
                                   href="@Url.Action("Index", "Transaction", new { id = item.ID })">
                                    Transactions &raquo;
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm btn-block"
                                   href="@Url.Action("Create", "Transaction", new { senderId = item.ID })">
                                    New transaction &raquo;
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm btn-block"
                                   href="@Url.Action("Create", "RequestTransaction", new { receiverId = item.ID })">
                                    New request &raquo;
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm btn-block"
                                   href="@Url.Action("Create", "Insurance", new { accountId = item.ID })">
                                    New insurance &raquo;
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    }
</div>
