@using Open.Sentry.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Bank.AccountView>

@{
    ViewData["Title"] = "SonicBank";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <img style="width: 100%; display: block;" src="/images/bankpikalt.jpg" alt="Bank image">
</div>

<div class="row">
    <div class="col-md-9">
        <h2>Welcome, @User.GetFirstName()</h2>
        <table style="width: 100%">
            <thead>
            <tr>
                <th>Account Number</th>
                <th>Type</th>
                <th>Balance</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>
                        <a class="btn btn-primary btn-sm"
                           href="../Transaction/Index/@item.ID">Transactions &raquo;</a>
                    </td>
                </tr>
            }
        </table>
        
    </div>
    <div class="col-md-2" style="text-align: end">
        <h3>Shortcuts</h3>
        <p>            
            <a class="btn btn-primary btn-sm"
               href="../Transaction/Create">Make transactions &raquo;</a>
            <a class="btn btn-primary btn-sm"
               href="../Manage/Index">Account settings &raquo;</a>
        </p>
    </div>
</div>
