@model Open.Core.IPaginatedList<Open.Facade.Museum.InventoryView>

@{
    ViewData["Title"] = "Inventuurid";
}
<div class="row">
        <div class="col-md-12">
            <h2>Welcome!</h2>
            <div>
                <a class="btn btn-outline-danger btn-sm" style="font-weight: bold"
                   href="@Url.Action("CreateInventory", "Museum")">
                    Uus inventaar &raquo;
                </a>
            </div>
            @if (Model != null) {
                <table style="width: 100%">
                    <thead>
                    <tr>
                        <th>Identifikatsioon</th>
                        <th>Töötaja nimi</th>
                        <th>Kehtivuse algus</th>
                        <th>Kehtivuse lõpp</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="accTable">
                    @foreach (var item in Model) {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ID)</td>
                            <td>@Html.DisplayFor(modelItem => item.Employee)</td>
                            <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
                            <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
                            <td>
                                <a class="btn btn-primary btn-sm btn-block"
                                   href="@Url.Action("InventoryIndex", "Museum", new {inventoryId = item.ID})">
                                    Detailid &raquo;
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            }    
        </div>
</div>
