@using Open.Core
@model Open.Facade.Bank.AccountView

@{
    ViewBag.Title = "Create";
    ViewBag.SubTitle = "New account";
    ViewBag.Button = "Create";
    Layout = "_EditPartial";
}

<body>
@Html.HiddenFor(x => x.ID)
@Html.HiddenFor(x => x.Balance)
@Html.HiddenFor(x => x.Status)
@Html.HiddenFor(x => x.AspNetUserId)
@Html.HiddenFor(x => x.ValidFrom)
@Html.HiddenFor(x => x.ValidTo)
@Html.DropDownListFor(x => x.Type, Html.GetEnumSelectList<CardType>(), new { @class = "form-control" })
</body>

@section Actions{@Html.ActionLink("Back", "Index", "Home")}
