@{
    Layout = "_Layout";
    ViewBag.ActionIndex = "Index";
    ViewBag.ActionCreate = "Create";
}

<h2>@ViewBag.Title</h2>

@section Scripts {  
     @if(@TempData["Status"] != null)
     {   
         <script>
             $(document).ready(function(){
                 alert("@TempData["Status"]");
             });
         </script>
     }
 }
<p>
    @RenderSection("Create")
</p>

<form asp-action=@ViewBag.ActionIndex method="get">
    <div class="form-inline col-md-6">
        Find by:  <input class="form-control" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" style ="height: calc(2rem + 2px)"/>
        <input type="submit" value="Search" class="btn btn-primary btn-sm" /> |
        <a asp-action=@ViewBag.ActionIndex>Back to Full List</a>
    </div>
</form>


@RenderBody()


@*@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action=@ViewBag.ActionIndex
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action=@ViewBag.ActionIndex
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>*@

