<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SonicBank</title>

    <environment include="Development">
        <link href="~/CSS/bootstrap-notifications.css" rel="stylesheet" type="text/css" />
        <link href="~/CSS/bootstrap-dropmenu.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">SonicBank</a>
            </div>
            <div class="navbar-collapse collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto"></ul>
                
                <!-- Notification bar begin -->
                <div class="btn-group dropdown dropdown-notifications">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i data-count="3" class="glyphicon glyphicon-bell notification-icon"></i>
                        <span class="caret"></span>
                    </button>

                    <div class="dropdown-container">
                        <div class="dropdown-toolbar">
                            <div class="dropdown-toolbar-actions">
                                <a href="#"><i class="glyphicon glyphicon-search"></i> View All</a>
                            </div>
                            <h3 class="dropdown-toolbar-title">Recent Notifications  (3)</h3>
                        </div><!-- /dropdown-toolbar -->

                        <ul class="dropdown-menu notifications">
                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="Name">
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">Dave Lister</a> commented on <a href="#">DWARF-13 - Maintenance</a></strong>
                                        <p class="notification-desc">I totally don't wanna do it. Rimmer can do it.</p>

                                        <div class="notification-meta">
                                            <small class="timestamp">27. 11. 2015, 15:00</small>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="Name">
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">Nikola Tesla</a> resolved <a href="#">T-14 - Awesome stuff</a></strong>

                                        <p class="notification-desc">Resolution: Fixed, Work log: 4h</p>

                                        <div class="notification-meta">
                                            <small class="timestamp">27. 10. 2015, 08:00</small>
                                        </div>

                                    </div>
                                </div>
                            </li>

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="Name">
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                                        <div class="notification-meta">
                                            <small class="timestamp">1. 9. 2015, 08:00</small>
                                        </div>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Notification bar end -->
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SonicBank</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
