@using Open.Sentry.Extensions
@model Open.Facade.Bank.RequestTransactionView

@{
    ViewBag.Title = "New request";
    Layout = "_EditPartial";
    ViewBag.Button = "Make";
}

<body>
@Html.HiddenFor(x => x.ID)
@Html.ViewingControlsFor(x => x.ValidFrom)
@Html.ViewingControlsFor(x => x.ReceiverAccountId)
@Html.HiddenFor(x => x.ReceiverAccountId)
@Html.EditingControlsFor(x => x.SenderAccountId)
@Html.EditingControlsForDecimal(x => x.AmountInStringFormat)
@Html.EditingControlsFor(x => x.Explanation)

@section Actions{
    <a class="btn btn-primary btn-sm"
       href="@Url.Action("Index", "Transaction", new { id = Model.ReceiverAccountId })">
        Back to transactions &raquo;
    </a>
}
</body>
