@using Open.Sentry.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Party.CountryView>

@{
    ViewBag.Title = "Countries";
    Layout = "_IndexPartial";
}

@section Create {
    <a asp-action=Create>Create New</a>
}

<body>
    <table class="table">
        @{ var dummy = Model.FirstOrDefault();}
        <thead>
            <tr>
                @Html.SortColumnHeaderFor(model => dummy.Alpha3Code, ViewData["SortAlpha3"])
                @Html.SortColumnHeaderFor(model => dummy.Alpha2Code, ViewData["SortAlpha2"])
                @Html.SortColumnHeaderFor(model => dummy.Name, ViewData["SortName"])
                @Html.SortColumnHeaderFor(model => dummy.ValidFrom, ViewData["SortValidFrom"])
                @Html.SortColumnHeaderFor(model => dummy.ValidTo, ViewData["SortValidFrom"])
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Alpha3Code)</td>
                    <td>@Html.DisplayFor(modelItem => item.Alpha2Code)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
                    @Html.EditDetailDeleteFor(modelItem => item.Alpha3Code)
                </tr>
            }
        </tbody>
    </table>
</body>
