@using Open.Sentry.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Notification.NotificationView>

@{
    ViewBag.Title = "Your notifications";
    Layout = "_IndexPartial";
}

@section Create {}

<body>
<table class="table" >
    @{ var notification = Model.FirstOrDefault();}
    <thead>
    <tr>
        @Html.SortColumnHeaderFor(x => notification.ValidFrom, ViewData["SortValidFrom"])
        @Html.SortColumnHeaderFor(x => notification.SenderAccountId, ViewData["SortSenderAccount"])
        @Html.SortColumnHeaderFor(x => notification.Message, ViewData["SortMessage"])
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
            <td>
                <b>
                    @Html.DisplayFor(modelItem => item.Sender.AspNetUser.FirstName)
                    @Html.DisplayFor(modelItem => item.Sender.AspNetUser.LastName)
                </b><br />
                @Html.DisplayFor(modelItem => item.SenderAccountId)
            </td>
            <td>
                (@Html.DisplayFor(modelItem => item.ReceiverAccountId)) <br />
                @Html.DisplayFor(modeItem => item.FormattedMessage)
            </td>
            <td>
                <a class="btn btn-primary btn-sm btn-block"
                   href="@Url.Action("ViewNotification", "Notifications", new {notificationId = item.ID})">
                    View &raquo;
                </a>                
            </td>
            <td>
                <a class="btn btn-primary btn-sm btn-block"
                   href="@Url.Action("Delete", "Notifications", new { id = item.ID })">
                    Delete &raquo;
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
