@using Open.Sentry.Extensions
@model Open.Facade.Bank.TransactionView

@{
    ViewBag.Title = "Make transaction";
    Layout = "_EditPartial";
    ViewBag.Button = "Make";
}
<body>
    @Html.HiddenFor(x => x.ID)
    @Html.ViewingControlsFor(x => x.ValidFrom)
    @Html.ViewingControlsFor(x => x.SenderAccountId)
    @Html.HiddenFor(x => x.SenderAccountId)
    @Html.EditingControlsFor(x => x.ReceiverAccountId)
    @Html.EditingControlsForDecimal(x => x.AmountInStringFormat)
    @Html.EditingControlsFor(x => x.Explanation)
    
@section Actions{@Html.ActionLink("Back to List", "Index")}
</body>
