@using Open.Sentry.Extensions
@model Open.Facade.Bank.TransactionView

@{
    ViewBag.Title = "Make transaction";
    ViewBag.Button = "Make";
    Layout = "_EditPartial";
}

<body>
@Html.HiddenFor(x => x.ID)
@Html.ViewingControlsFor(x => x.ValidFrom)
@Html.ViewingControlsFor(x => x.SenderAccountId)
@Html.EditingControlsFor(x => x.ReceiverAccountId)
@Html.EditingControlsFor(x => x.Amount)
@Html.EditingControlsFor(x => x.Explanation)


</body>

@section Actions{@Html.ActionLink("Back to List", "Index")}