@using Open.Sentry.Extensions
@model Open.Facade.Bank.TransactionView

@{
    ViewBag.Title = "Create";
    ViewBag.SubTitle = "Transaction";
    ViewBag.Button = "Create";
    Layout = "_EditPartial";
}

<body>
    @Html.ViewData()
    @Html.EditingControlsFor(x => x.ApplicationUserID)
    @Html.EditingControlsFor(x => x.Amount)
    @Html.EditingControlsFor(x => x.Explanation)
    @Html.EditingControlsFor(x => x.DateMade)


</body>

@section Actions{@Html.ActionLink("Back to List", "Index")}