@using Open.Sentry.Extensions
@model Open.Facade.Bank.TransactionView

@{
    ViewBag.Title = "New transaction";
    Layout = "_EditPartial";
    ViewBag.Button = "Make";
}

<body>
@Html.HiddenFor(x => x.ID)
@Html.ViewingControlsFor(x => x.ValidFrom)
@Html.ViewingControlsCustomLabelFor(x => x.SenderAccountId, "Sender Account Number")
@Html.HiddenFor(x => x.SenderAccountId)
@Html.EditingControlsFor(x => x.ReceiverAccountId)
@Html.EditingControlsForDecimal(x => x.AmountInStringFormat)
@Html.EditingControlsFor(x => x.Explanation)

@section Actions{
    <a class="btn btn-primary btn-sm"
       href="@Url.Action("Index", "Transaction", new { id = Model.SenderAccountId })">
        Back to transactions &raquo;
    </a>
}

</body>
