@using Open.Sentry.Extensions
@using Open.Sentry.Controllers
@model Open.Core.IPaginatedList<Open.Facade.Bank.TransactionView>


@{
    ViewBag.Title = "Transactions for " + TransactionController.BankAccount.Data?.ID;
    Layout = "_IndexPartial";
}

@section Create {
    <a asp-action="Create">Create</a>
}

<body>
<table class="table">
    @{ var transaction = Model.FirstOrDefault();}
    <thead>
    <tr>
        @Html.SortColumnHeaderFor(ViewData["SortValidFrom"], x => transaction.ValidFrom)
        @Html.SortColumnHeaderFor(ViewData["SortSender"], x => transaction.SenderAccountId)
        @Html.SortColumnHeaderFor(ViewData["SortSenderFirstName"], x => transaction.SenderAccount.AspNetUser.FirstName)
        @Html.SortColumnHeaderFor(ViewData["SortSenderLastName"], x => transaction.SenderAccount.AspNetUser.LastName)
        @Html.SortColumnHeaderFor(ViewData["SortExplanation"], x => transaction.Explanation)
        @Html.SortColumnHeaderFor(ViewData["SortAmount"], x => transaction.Amount)
        <th></th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {

        <tr>
            <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
            <td>@Html.DisplayFor(modelItem => item.SenderAccountId)</td>
            <td>@Html.DisplayFor(modelItem => item.SenderAccount.AspNetUser.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.SenderAccount.AspNetUser.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Explanation)</td>
            <td>
                @if (item.Amount > 0)
                {
                    <span style="color: green;">@item.Amount</span>
                }
                else
                {
                    <span style="color: red;">@item.Amount</span>
                }
            </td>
            @Html.EditDetailDeleteFor(modelItem => item.ID)
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Html.Label("Balance"): </td>
        <td>
            @if (TransactionController.BankAccount.Data?.Balance > 0)
            {
                <span style="color: green;">@TransactionController.BankAccount.Data?.Balance</span>
            }
            else
            {
                <span style="color: red;">@TransactionController.BankAccount.Data?.Balance</span>
            }
        </td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>