@using Open.Sentry.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Bank.TransactionView>

@{
    ViewBag.Title = "Transactions";
    Layout = "_IndexPartial";
}

@section Create {
    <a asp-action=Create>Create</a>
}

<!-- TODO: Add PosNeg, name of the other party -->

<body>
<table class="table">
    @{ var transaction = Model.FirstOrDefault();}
    <thead>
    <tr>
        @Html.SortColumnHeaderFor(ViewData["SortSender"], x => transaction.SenderAccountId)
        @Html.SortColumnHeaderFor(ViewData["SortAmount"], x => transaction.Amount)
        @Html.SortColumnHeaderFor(ViewData["SortExplanation"], x => transaction.Explanation)
        @Html.SortColumnHeaderFor(ViewData["SortValidFrom"], x => transaction.ValidFrom)
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.SenderAccountId)</td>
            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            <td>@Html.DisplayFor(modelItem => item.Explanation)</td>
            <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
            @Html.EditDetailDeleteFor(modelItem => item.ID)
        </tr>
    }
    </tbody>
</table>
</body>