@using Open.Sentry.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Museum.MusealView>

@{
    ViewBag.Title = "Museaalid";
    Layout = "_IndexPartial";
}

@section Create {
    <a asp-action=Create>Create New</a>
}

<body>
<table class="table">
    @*@{ var dummy = Model.FirstOrDefault();}*@
    <thead>
        <tr>
            @*@Html.SortColumnHeaderFor(model => dummy.ID, ViewData["SortID"])
        @Html.SortColumnHeaderFor(model => dummy.Author, ViewData["SortAuthor"])
        @Html.SortColumnHeaderFor(model => dummy.Designation, ViewData["SortDesignation"])
        @Html.SortColumnHeaderFor(model => dummy.Info, ViewData["SortInfo"])
        @Html.SortColumnHeaderFor(model => dummy.StateBefore, ViewData["SortStateBefore"])
        @Html.SortColumnHeaderFor(model => dummy.DamagesBefore, ViewData["SortDamagesBefore"])
        @Html.SortColumnHeaderFor(model => dummy.DefaultLocation, ViewData["SortDefaultLocation"])
        @Html.SortColumnHeaderFor(model => dummy.CurrentLocation, ViewData["SortCurrentLocation"])*@
            <th>Museaali number</th>
            <th>Autor</th>
            <th>Nimetus</th>
            <th>Üldinfo</th>
            <th>Seisund enne</th>
            <th>Kahjustused enne</th>
            <th>Püsiasukoht</th>
            <th>Jooksev asukoht</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @*@foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ID)</td>
            <td>@Html.DisplayFor(modelItem => item.Author)</td>
            <td>@Html.DisplayFor(modelItem => item.Designation)</td>
            <td>@Html.DisplayFor(modelItem => item.Info)</td>
            <td>@Html.DisplayFor(modelItem => item.StateBefore)</td>
            <td>@Html.DisplayFor(modelItem => item.DamagesBefore)</td>
            <td>@Html.DisplayFor(modelItem => item.DefaultLocation)</td>
            <td>@Html.DisplayFor(modelItem => item.CurrentLocation)</td>
            @Html.EditDetailDeleteFor(modelItem => item.ID)
        </tr>
    }*@
        <tr>
            <td>TLM_2981 L 1</td>
            <td>Teadmata</td>
            <td>Pudeli kael</td>
            <td>Pikk detailne info</td>
            <td>Väga halb</td>
            <td>Säilinud osa pudelikaelast</td>
            <td>riiul: 6</td>
            <td>riiul: 6</td>
            <td>Edit Details Delete</td>
        </tr>
    </tbody>
</table>
</body>
