@using Open.Core
@using Open.Sentry.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Museum.InventoryMusealView>

@{
    ViewBag.Title = "Inventuur number " + ViewBag.InventoryNumber;
}

@{ var dummy = Model.FirstOrDefault();}
<div class="col-md-8">
    <p>@Html.EditingControlsFor(x => dummy.MusealID)</p>
    <a class="btn btn-primary btn-sm"
       href="@Url.Action("Sumbit", "Museum")">Get &raquo;
    </a>
</div>


@if (Open.Sentry.Controllers.MuseumController.show == true)
{
    <table class="table-border table-striped" style="width: 50%">
        <thead>
        <tr> @Html.SortColumnHeaderFor(model => dummy.ID, ViewData["SortID"]) <td>id</td>            </tr>
        <tr> @Html.SortColumnHeaderFor(model => dummy.Author, ViewData["SortAuthor"])           <td>autor</td> </tr>
        <tr>  @Html.SortColumnHeaderFor(model => dummy.Designation, ViewData["SortDesignation"])           <td>asi</td> </tr>
    <tr>      @Html.SortColumnHeaderFor(model => dummy.Info, ViewData["SortInfo"])          <td>info</td> </tr>
        <tr>     @Html.SortColumnHeaderFor(model => dummy.StateBefore, ViewData["SortStateBefore"])                      <td>halb</td>    </tr>
        <tr>     @Html.SortColumnHeaderFor(model => dummy.DamagesBefore, ViewData["SortDamagesBefore"])                       <td>väga halb</td>  </tr>
        <tr>    @Html.SortColumnHeaderFor(model => dummy.DefaultLocation, ViewData["SortDefaultLocation"])                      <td>tallinn</td>   </tr>
        <tr>   @Html.SortColumnHeaderFor(model => dummy.CurrentLocation, ViewData["SortCurrentLocation"])                     <td>tallinn</td>    </tr>
        </thead>
        <tbody>
            <thead>
            <tr>
                @Html.SortColumnHeaderFor(model => dummy.IsChecked, ViewData["SortIsChecked"])
                @Html.SortColumnHeaderFor(model => dummy.IsFound, ViewData["SortIsFound"])
                @Html.SortColumnHeaderFor(model => dummy.HasStateChanged, ViewData["SortHasStateChanged"])
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>ok</td>
                <td>ok</td>
                <td>not ok</td>
                <td>
                    <a class="btn btn-primary btn-sm btn-block"
                       href="@Url.Action("Save", "Museum")">
                        Salvesta museaal &raquo;
                    </a></td>
            </tr>
            </tbody>
        </tbody>
    </table>
}
